@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
